name: Maven Build

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Set up Java (change version if needed)
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '25'
          cache: maven

      # 3. Build with Maven
      - name: Build with Maven
        run: mvn -B clean verify

      #4.
      - name: Clear Maven cache
        run: rm -rf ~/.m2/repository/org/apache/maven/plugins/maven-shade-plugin
      #5
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

